{% extends 'base.html' %}

{% block meta %}
<title>Create New Task</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<style>
    head, body {
      height: 100vh;
      font-family: 'Poppins', sans-serif;
    }

    body {
      align-items: center;
      background: linear-gradient(-45deg, rgb(246, 145, 38), #e73c7e, #23a6d5, #23d5ab);
	    background-size: 400% 400%;
	    animation: gradient 15s ease infinite;
      background-attachment: fixed;       
    }

    @keyframes gradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
    }
    .content {
      padding-top: 40px;
      padding-bottom: 40px;
    }
</style>
{% endblock meta %}

{% block content %}
<main class="create-task w-100 m-auto text-center">
  <nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <h1 class="navbar-brand fw-bold mb-0">To Do List</h1>
        <button class="btn btn-outline-danger" type="button" onclick="location.href='/todolist/logout'">Logout</button>
    </div>
  </nav>
  <div class="content container-fluid" style="min-width:50px; max-width: 800px">
    <h1 class="h1 mb-3 fw-semibold text-center">Create New Task</h1>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="mb-3">
        <label for="title" class="form-label fw-semibold text-light text">Title</label>
        <input type="text" name="title" class="form-control shadow" required id="title" placeholder="Task Title">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label fw-semibold text-light">Description</label>
        <textarea class="form-control shadow" name="description" required id="description" rows="4" placeholder="Task Description"></textarea>
      </div>
      <button class="mt-2 btn btn-lg btn-outline-dark" type="button" style="margin: 8px" onclick="location.href='/todolist/'">Back</button>
      <input class="mt-2 btn btn-lg btn-dark" type="submit" name="create" value="Create" style="margin: 8px"></input>
    </form>

    {% if messages %}
      {% for message in messages %}
      <p class="text-muted">{{ message }}</p>
      {% endfor %}
    {% endif %}
  </div>
</main>
{% endblock content %}