{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<style>
    head, body {
      height: 100%;
      font-family: 'Poppins', sans-serif;
    }

    body {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background: linear-gradient(-45deg, rgb(246, 145, 38), #e73c7e, #23a6d5, #23d5ab);
	    background-size: 400% 400%;
	    animation: gradient 15s ease infinite;
	    height: 100vh;      
    }

    @keyframes gradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
    }
    
    .form-register {
      max-width: 400px;
      padding: 25px;
    }

    .form-register .form-floating:focus-within {
      z-index: 1;
    }

    .form-register input[type="text"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-register input[name="password1"] {
      margin-bottom: -1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-register input[name="password2"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;      
    }
</style>
{% endblock meta %}

{% block content %}
<main class="form-register w-100 m-auto text-center">
    <form method="POST" action="">
        {% csrf_token %}  

        <h1 class="h1 mb-3 fw-semibold text-center">Let's Register!</h1>
        
        <div class="form-floating">
            <input type="text" class="form-control" name="username" autocapitalize="none" autocomplete="username" autofocus placeholder="Enter username" required>
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password1" id="password" autocomplete="new-password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password2" id="password" autocomplete="new-password" placeholder="Confirm Password" required>
            <label for="password">Confirm Password</label>
        </div>        
        <input class="w-100 mt-2 btn btn-lg btn-dark" type="submit" value="Register"></input>

        {% if messages %}
            {% for message in messages %}
                <p class="text-muted">{{ message }}</p>
            {% endfor %}
        {% endif %}        
        <p class="mt-3 mb-3">Already have an account? <a href="{% url 'todolist:login' %}" style="color: white; font-weight: bolder;">Login</a></p>        
    </form>  
</main>
{% endblock content %} 